@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
  --space-smallest: 1px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;
  --space-xxlg: 80px;

  --white: #ffffff;
  --black: #30363d;
  --gray-custom: #b3b3b3;
  --card-background: var(--white);

  --title-color: var(--black);
  --text-color: var(--white);
  --background: var(--white);
  --time-text-color: var(--gray-custom);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  transition: background-color 0.8s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Muli", sans-serif;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  text-align: center;
}

#card {
  background-color: var(--card-background);
  transition: background-color 0.8s;
  border-radius: 6px;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  max-width: 100%;
  height: 200px;
  overflow: hidden;
  margin: var(--space-xlg);
  padding: var(--space-md);
  z-index: 1;
}

#card h1 {
  color: var(--title-color);
  transition: color 0.8s;
}

#card #subtitle {
  color: var(--text-color);
  opacity: 0;
  transition: opacity 0.8s;
}

.countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.time {
  display: flex;
  font-size: 1.2em;
  flex-direction: column;
  margin: 0px 15px;
}

.time h1 {
  margin: 0px;
  transition: color 0.8s;
}

.time small {
  color: var(--time-text-color);
  transition: color 0.8s;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
